# Node.js
node_modules/
package-lock.json

# Dependências do npm
/package.json
/package-lock.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios do build
/dist
/build

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
